
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

.header-site {
    font-family: 'mitr', sans-serif;
}

#recipe_navbar {
    padding-left: 2%;
    padding-right: 2%;
}

.text-color {
    color: #fafafa;
}

.info-text {
    font-family: 'Arima Madurai', cursive;
}

.btn-small {
    margin: 7px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.image-recipe {
    width: 400px;
    height: 400px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.image-recipe img {
    object-fit: cover;
    height: 100%;
    width: auto;
}