
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

.header-site {
    font-family: 'mitr', sans-serif;
}

#recipe_navbar {
    padding-left: 2%;
    padding-right: 2%;
}

.text-color {
    color: #fafafa;
}

.info-text {
    font-family: 'Arima Madurai', cursive;
}

.recipe-text {
    padding-left: 10px;
    padding-top: 5px;
}

.btn-small {
    margin: 7px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.recipe-card {
    display: flex;
}

.index-image{
    background: url(https://images.unsplash.com/photo-1556909211-36987daf7b4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) center no-repeat;
    background-size: cover;
    padding-bottom: 400px;
    width: 100%;
    margin-top: 100px;
}

.image-recipe {
    width: auto;
    height: 400px;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.image-recipe img {
    object-fit: cover;
    height: 100%;
    width: auto;
}