{% extends "base.html" %}
{% block content %}

<h3 class="center-align header-site">Edit recipe</h3>
    
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
    <div>
    <div class="input-field col s12">
    <select id="category_name" name="category_name" class="validate" required>
      <option value="" disabled>Choose category</option>
    {% for category in categories %}
        {% if category.category_name == recipe.category_name %} 
            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
        {% else %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endif %}
    {% endfor %}
    </select>

    <!-- Edit recipe -->

    <label>Recipe category</label>
  </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="50" value="{{ recipe.recipe_name }}" class="validate" required>
          </textarea>
            <label for="recipe_name">Recipe Name</label>
        </div>
        <div class="input-field col s12">
          <textarea id="ingredients" name="ingredients" type="text" minlength="5" maxlength="500" value="{{ recipe.ingredients }}" class="validate materialize-textarea recipe-area" required>
          </textarea>
            <label for="ingredients">Ingredients</label>
        </div>
      </div>
      
        <div class="input-field col s12 m6">
          <textarea id="prep_time" name="prep_time" type="text" minlength="4" maxlength="20" value="{{ recipe.prep_time }}" class="validate" required>
          </textarea>
            <label for="prep_time">Prep time</label>
        </div>
        <div class="input-field col s12 m6">
          <textarea id="cook_time" name="cook_time" type="text" minlength="4" maxlength="20" value="{{ recipe.cook_time }}" class="validate" required>
          </textarea>
            <label for="cook_time">Cook time</label>
        
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="intructions" name="intructions" minlength="10" maxlength="900" value="{{ recipe.intructions }}" class="validate materialize-textarea recipe-area" required>
          </textarea>
        <label for="intructions">intructions</label>
        </div></div>
        <div class="input-field col s12">
          <textarea id="img_url" name="img_url" type="url" minlength="5" maxlength="200" value="{{ recipe.img_url }}" class="validate materialize-textarea recipe-area" required>
          </textarea>
        <label for="img_url">Url link for image</label>
        </div>

       <div class="row">
           <!--Cancel button-->
          <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Save Recipe
               </button>
            <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light red accent-4">Cancel</a>
    
       </div>
    </form>
  </div>

{% endblock %}