{% extends "base.html" %}
{% block content %}

<ul class="collapsible col s12 m8 center-align">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
          <i class="fas fa-caret-down"></i>
          <strong>{{ recipe.recipe_name }}</strong>
        </div>
      <div class="collapsible-body">
      <strong>{{ recipe.category_name }}</strong>
      <p>
          {{ recipe.ingredients }}
      </p>
      <p>
        {{ recipe.prep_time }}
      </p>
      <p>
        {{ recipe.cook_time }}
      </p>
      <p>
        {{ recipe.intructions }}
      </p>
      </div>
    </li>
  </ul>
    {% endfor %}
{% endblock %}