{% extends "base.html" %}
{% block content %}

    <h1 class="center-align header-site">Recipes</h1>

  <div class="row">
    {% if recipes|length > 0 %}
        {% for recipe in recipes%}
    <div class="col s12 m6 l4">
      <div class="card">
          <!-- Recipes cards -->
          <a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">
        <div class="recipe-card">
            <div class="card-image image-recipe">
            <img src="{{ recipe.img_url }}" alt="{{ recipe.img_des }}">
            </div></div>
        
            <div class="recipe-text">
          <strong class="header-site">{{ recipe.recipe_name }}</strong>
            </div>
          <div class="recipe-text">      
          <strong>{{ recipe.category_name }}</strong>
        </div>
        </a>
        <div class="card-content">
        <p class="info-text"><em>Recipe by: {{ recipe.created_by }}</em></p>
        </div>
       
      </div>
    </div> 
             
        {% endfor %}
    {% else %}
        <h3>No recipes found</h3>
    
    {% endif %}
  </div>
     

{% endblock %}