{% extends "base.html" %}
{% block content %}

<h1>{{ recipe.recipe_name }}</h1>


  <div class="row">
    <div class="col s12">
      <div class="card">
          <!-- Recipe card more information -->
        <div class="card-image">
            <img src="{{ recipe.img_url }}" alt="{{ recipe.recipe_name }}">
                <div class="recipe-text-card">
          <h3><strong class="header-site">{{ recipe.recipe_name }}</strong></h3>
            </div> 
       </div>
       <div class="col m3 recipe-text-card"><h6 class="recipe-text-card">Category</h6>
          <strong class="recipe-text-card">{{ recipe.category_name }}</strong></div>
            <div class="col m3">
                <h6 class="recipe-text-card">Prep Time</h6>
            <p class="recipe-text-card">
                {{ recipe.prep_time }}
            </p></div>
            <div class="col m3">
                <h6 class="recipe-text-card">Cook Time</h6>
            <p class="recipe-text-card">
                {{ recipe.cook_time }}
            </p></div>
          <div class="row col s6">
                <h6 class="recipe-text-card">Ingredients</h6>
            <p class="recipe-text-card">
                {{ recipe.ingredients }}
            </p></div>
                <div class="row col s12">
                    <h6 class="recipe-text-card">Instructions</h6>
            <p class="recipe-text-card">
                {{ recipe.intructions }}
            </p>
        </div>
        <div class="card-content row">
        <p class="left"><em>Recipe by: {{ recipe.created_by }}</em></p>
        </div>
        <div>
            {% if session.user|lower == recipe.created_by|lower or session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small green accent-4">Edit</a>
                <a class="waves-effect waves-light btn-small red darken-2 modal-trigger" href="#modal1">Delete</a>
            {% endif %}
        </div>
       <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                <h4>Are you sure you want to delete?</h4>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn-small green accent-4 modal-close" data-dismiss="modal1">Cancel</button>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red darken-2">Delete</a>
                </div>
            </div>
      </div>
    </div> 

{% endblock%}